/*
    Theme variables of colors
    ========================================================================== */

:root {
    --primary: #1e88e5;
    --primary-dark: #0d47a1;
    --primary-light: #64b5f6;
    --secondary: #ff4081;
    --secondary-dark: #a71155;
    --secondary-light: #ff80ab;
    --tertiary: #ff6f00;
    --tertiary-dark: #993300;
    --tertiary-light: #ffab40;
    --grey: #bdbdbd;
    --grey-dark: #757575;
    --grey-light: #e0e0e0;
    --black: #212121;
    --black-dark: #000;
    --black-light: #484848;
    --success: #4caf50;
    --success-dark: #08631a;
    --success-light: #80e27e;
    --warning: #ffeb3b;
    --warning-dark: #874508;
    --warning-light: #fff176;
    --danger: #f44336;
    --danger-dark: #a91919;
    --danger-light: #ef5350;
    --info: #2196f3;
    --info-dark: #01579b;
    --info-light: #64b5f6;
    --white: #fff;
    --white-dark: #e0e0e0;
    --dark: #333;
    --light: #f5f5f5;
    --link: #1e88e5;
    --rounded: 0;
}

/*
    General styles
    ========================================================================== */

html {
    font-size: 66.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: var(--black);
    background-color: var(--white);
}

/*
    Typography
    ========================================================================== */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    font-weight: 700;
}

h1, .h1 {
    font-size: 4.8rem;
}

h2, .h2 {
    font-size: 4rem;
}

h3, .h3 {
    font-size: 3.2rem;
}

h4, .h4 {
    font-size: 2.4rem;
}

h5, .h5 {
    font-size: 1.8rem;
}

h6, .h6 {
    font-size: 1.6rem;
}

p {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--link);
    transition: all 0.3s ease-in-out;
    &:hover {
        color: var(--black-dark);
    }
}

.lead {
    font-size: 2.4rem;
    font-weight: 400;
}

strong, em, small, mark, del, ins, sub, sup, abbr, q, cite, code, kbd samp, var, li  {
    font-weight: 400;
    border-radius: var(--rounded);
    padding: 0.2rem 0.4rem;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

small {
    font-size: 1.4rem;
}

/*
    Layout settings
    ========================================================================== */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        .col-12, .col-6 {
            grid-column: span 1;
        }
    }
}

.footer {
    margin-top: 2rem;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.3rem;
    color: var(--grey-dark);
}

/*
    Custom elements
    ========================================================================== */

.header {
    padding: 1rem 0;
    border-bottom: 1px solid var(--grey-light);
    margin-bottom: 2rem;
    .header__title {
        margin: 0;
        font-size: 2.4rem;
        font-weight: 700;
    }
}

.section {
    margin-bottom: 2rem !important;
    .section__header {
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--grey-light);
    }
    .section__title {
        margin: 0;
        font-size: 2.4rem;
        font-weight: 700;
    }
    .section__subtitle {
        margin: 0;
        font-size: 1.8rem;
        font-weight: 400;
    }
}

.title {
    margin: 0;
    font-size: 5rem;
    font-weight: lighter;
}

.subtitle {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.notification {
    border-radius: var(--rounded);
    border: 1px solid var(--grey-light);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    .notification--primary {
        background-color: var(--primary-light);
        border-color: var(--primary-dark);
        color: var(--primary-dark);
    }
    .notification--secondary {
        background-color: var(--secondary-light);
        border-color: var(--secondary-dark);
        color: var(--secondary-dark);
    }
    .notification--tertiary {
        background-color: var(--tertiary-light);
        border-color: var(--tertiary-dark);
        color: var(--tertiary-dark);
    }
    .notification--success {
        background-color: var(--success-light);
        border-color: var(--success-dark);
        color: var(--success-dark);
    }
    .notification--warning {
        background-color: var(--warning);
        border-color: var(--warning-light);
        color: var(--warning-dark);
    }
    .notification--danger {
        background-color: var(--danger);
        border-color: var(--danger-dark);
        color: var(--white);
    }
    .notification--info {
        background-color: var(--info-light);
        border-color: var(--info-dark);
        color: var(--info-dark);
    }
    .notification__text {
        margin: 0;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 1.6rem 1.5rem;
        display: flex;
        justify-content: space-between;
    }
    .notification__button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 2rem;
        color: var(--dark);
        transition: all 0.3s ease-in-out;
        &:hover {
            color: var(--black-light);
            rotate: 90deg;
        }
    }
}

.card {
    background-color: #fff;
    border-radius: var(--rounded);
    border: 1px solid var(--grey-light);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    .card__header,
    .card__footer {
        padding: 1rem 1.5rem;
    }
    .card__body {
        padding: 2rem 1.5rem;
    }
    .card__footer {
        border-top: 1px solid var(--grey-light);
    }
    .card__header {
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
        font-weight: 700;
        border-bottom: 1px solid var(--grey-light);
        .card__title {
            margin: 0;
            font-size: 2rem;
            .card__title--normal {
                font-weight: 400;
            }
        }
    }
    .card__header--primary,
    .card__header--secondary,
    .card__header--tertiary,
    .card__header--success,
    .card__header--danger {
        border-radius: var(--rounded) var(--rounded) 0 0;
        color: var(--light);
    }

    .card__header--primary {
        background-color: var(--primary);
    }
    .card__header--secondary {
        background-color: var(--secondary);
    }
    .card__header--tertiary {
        background-color: var(--tertiary);
    }
    .card__header--success {
        background-color: var(--success);
    }
    .card__header--warning {
        background-color: var(--warning);
    }
    .card__header--danger {
        background-color: var(--danger);
    }
    .card__header--info {
        background-color: var(--info);
    }
    .card__body {
        .card__text {
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
        .card__image {
            width: 100%;
            height: auto;
        }
    }
    .card__button {
        display: block;
        width: 100%;
    }
}

.btn {
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: var(--rounded);
    background-color: var(--black-dark);
    color: var(--white);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: var(--black);
    }
}

.btn--primary {
    background-color: var(--primary-dark);
    &:hover {
        background-color: var(--primary);
    }
}

/**
    Media queries reset small devices
    ========================================================================== */

@media (max-width: 480px) {
    .container {
        .row {
            .col__mobile--first {
                grid-row-start: -2;
            }
            .col__mobile--second {
                grid-row-end: 2;
            }
        }
    }
}

/**
    Media queries reset to bigger devices
    ========================================================================== */

@media (min-width: 480px) {
    .row {
        grid-auto-rows: 1fr;
        .card {
            min-height: 100%;
            justify-content: space-between;
            .card__body {
                flex: 1;
            }
        }
    }
}

/*
    Media query to tablet
    ========================================================================== */

@media (min-width: 480px) and (max-width: 768px) {
    .container {
        .row {
            grid-template-columns: repeat(2, 1fr);
            .col-12 {
                grid-column: span 2;
            }
            .col-6 {
                grid-column: span 1;
            }
            .card {
                .card__body {
                    max-height: 20rem;
                    overflow: hidden;
                    overflow-y: scroll;
                }
            }
        }
    }
}

/*
    Media query to laptop
    ========================================================================== */

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        .row {
            grid-template-columns: repeat(4, 1fr);
            .col-12 {
                grid-column: span 4;
            }
            .col-6 {
                grid-column: span 2;
            }
            .card {
                .card__body {
                    max-height: 20rem;
                    overflow: hidden;
                    overflow-y: scroll;
                }
            }
        }
    }
}

/*
    Media query to larger desktop
    ========================================================================== */

@media (min-width: 1025px) {
    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.8rem;
    }

    .container {
        .row {
            grid-template-columns: repeat(12, 1fr);
            .col-12 {
                grid-column: span 12;
            }
            .col-6 {
                grid-column: span 6;
            }
        }
    }
    .card {
        .card__footer {
            display: flex;
            justify-content: end;
            align-items: center;
        }
        .card__button {
            width: auto;
        }
    }
}
