<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="assets/css/normalize.min.css">
  <link rel="stylesheet" href="assets/css/main.min.css">
  <link rel="stylesheet" href="assets/js/plugins/waitMe.min.css">
  <link rel="stylesheet" href="assets/js/plugins/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="assets/js/main.min.js" type="application/javascript"></script>
  <script defer src="assets/js/plugins/waitMe.min.js" type="application/javascript"></script>
  <script defer src="assets/js/plugins/toastr.min.js" type="application/javascript"></script>
</head>
<body class="{{ theme }}">
  <main>
    {{ header }}

    <section class="container">
      {{ content }}
    </section>
  </main>

  <footer class="footer">
    <div class="container">
      {{ footer }}
    </div>
  </footer>

  <script>
    $(document).ready(function () { });
  </script>
  <!-- {{ version }} -->
</body>
</html>
